<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>projectRepository details</title>
  <link rel="stylesheet" href="styles/projectRepository/projectRepo.css">
  <style>
    body {
      background-color: #f6f9ff !important;
    }

    .height-50 {
      height: 90px;
      overflow-y: hidden;

    }

    .hidden {
      display: none;
    }

    .project-title {
      font-size: 25px;

    }

    @media only screen and (max-width: 768px) {
      .project-title {
        font-size: 16px;

      }

    }
  </style>
</head>

<body>
  <% if(login){ %>
    <% if(typeof role!="undefined" && role){ %>
      <% if(role=="student" ){ %>
        <%- include('../Navbar/StudentNavbar.ejs') %>
          <% }else if(role=="mentor" ){ %>
            <%- include('../Navbar/MentorNavbar.ejs') %>
              <% }else if(role=="admin" ){ %>
                <%- include('../Navbar/AdminNavbar.ejs') %>
                  <% }else if(role=="company" ){ %>
                    <%- include('../Navbar/CompanyNavbar.ejs') %>
                      <% } %>
                        <% } %>

                          <% }else { %>
                            <%- include('../Navbar/InitNavbar.ejs') %>
                              <% } %>


                                <!-- beautifull heading  -->

                                <div class="container mt-4 mb-5">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <h1 class="mb-2 text-center text-primary">
                                        Project Repository</h1>
                                    </div>
                                  </div>
                                </div>

                                <div class="container mt-4 mb-5">

                                  <div class="input-group mt-3 mb-3">
                                    <div class="form-outline">
                                      <input type="search" id="search-input" class="form-control" />
                                      <label class="form-label" for="form1">Search
                                        By Project Name, Guide Name, Team
                                        Members, skills</label>
                                    </div>
                                    <button type="button" class="btn btn-primary">
                                      <i class="fas fa-search"></i>
                                    </button>
                                  </div>
                                  <div class="dropdown my-4">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2"
                                      data-mdb-toggle="dropdown" aria-expanded="false">
                                      Project Repository
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                      <li><button class="dropdown-item" id="RepositoryButton" type="button">Project
                                          Directory</button></li>
                                      <li><button class="dropdown-item" id="RepoMentorButton" type="button">Looking For
                                          Mentor Guide</button></li>
                                      <li><button class="dropdown-item" id="RepoPartnerButton" type="button">Looking For
                                          Project Partner</button></li>
                                    </ul>
                                  </div>

                                  <div id="search-content">


                                    <div id="repoContainer">

                                    </div>








                                  </div>
                                </div>
                                <!-- Footer -->
                                <%- include('../Footer/Footer.ejs') %>


</body>
<script src="js/ProjectRepository/script.js"></script>
</html>