<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.0/css/intlTelInput.css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <title>Project Repository</title>

    
    <style>
        .card {
            box-shadow: 0 0 15px -2px #444444;
            ;

        }

        .main-heading {
            color: #1c4980;
        }
        body{
      background-color: #f6f9ff !important;
    }
    .btn{
        margin: 1em;
        margin-top: 0;
    }
    </style>
</head>

<!-- Navbar  -->
<% if(login){ %>
    <% if(typeof role!="undefined" && role){ %>
        <% if(role=="student"){ %>
            <%- include('../Navbar/StudentNavbar.ejs') %>
        <% }else if(role=="mentor"){ %>
            <%- include('../Navbar/MentorNavbar.ejs') %>
        <% }else if(role=="admin"){ %>
            <%- include('../Navbar/AdminNavbar.ejs') %>
        <% }else if(role=="company"){ %>
            <%- include('../Navbar/CompanyNavbar.ejs') %>
        <% } %>
    <% } %>
    
    <% }else { %>
        <%- include('../Navbar/InitNavbar.ejs') %>
    <% } %>
<body>
    <section class="h-100 ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">

                            <div class="col-xl-12">
                                <% if(typeof message !="undefined" && message){ %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%= message.message %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                    <% } %>
                                        <div class="card-body p-md-5 text-black">
                                            <h3 class="mb-5 text-uppercase main-heading">Upload Project Repository
                                                Details</h3>

                                            <form action="/uploadProjectRepository" method="post"
                                                enctype="multipart/form-data" id="addProjectRepositoryForm" class="addProjectRepositoryForm">
                                                <div class="form-outline mb-4">
                                                    <input type="text" id="projectName" name="projectName"
                                                        class="form-control form-control-lg" required />
                                                        <div class="invalid-feedback">
                                                            Please provide a project anme
                                                          </div>
                                                    <label class="form-label" for="projectName">projectName</label>
                                                </div>

                                                <div class="form-outline mb-4">
                                                    <input type ="hidden"  name="teamMembers" id="teamMember-tags-input" value="" required>
                                                    <input type="text" id="teamMembers" 
                                                        class="form-control  form-control-lg" onkeyup="sendData(this)" />
                                                    <label class="form-label" for="teamMembers">Team Members</label>

                                                </div>
                                                <div id="teamMember-container"></div>

                                                <div class="form-outline mb-4">
                                                    <input type="text" id="guideName" name="guideName"
                                                        class="form-control  form-control-lg" required />
                                                    <label class="form-label" for="guideName">guideName</label>

                                                </div>

                                                <div class="form-outline mb-4">
                                                    <textarea type="input" class="form-control  form-control-lg"
                                                        id="projectDescription" name="projectDescription" rows="3"
                                                        required></textarea>
                                                    <label class="form-label"
                                                        for="projectDescription">projectDescription</label>
                                                </div>

                                                <div class="form-outline mb-4">
                                                    <textarea type="input" class="form-control  form-control-lg"
                                                        id="objective" name="objective" rows="3" required></textarea>
                                                    <label class="form-label" for="objective">objective</label>
                                                </div>


                                                <div class="row">
                                                    <div class="col-md-6 mb-4">

                                                        <select class="form-select form-select-lg" id="collegeName"
                                                            name="collegeName" aria-label="Default select example"
                                                            required>
                                                            <option value="" selected>Choose collegeName</option>
                                                        </select>

                                                    </div>
                                                    <div class="col-md-6 mb-4">
                                                        <select class="form-select form-select-lg" id="universityName"
                                                            name="universityName" aria-label="Default select example"
                                                            required>
                                                            <option value="" selected>Choose universityName</option>

                                                        </select>

                                                    </div>
                                                </div>



                                                <div class="form-outline mb-4">
                                                    <!-- <input type="number" pattern="[0-9]{10}" id="phone" name="phone"
                                                        class="form-control form-control-lg" required /> -->
                                                     <input class="form-control form-control-lg" type="tel" id="phone" name="phone" inputmode="tel" value="" required style="border: 1px solid #bdbdbd;" placeholder="   Enter Phone"/>
                                                </div>

                                                <div class="form-outline mb-4">
                                                    <input type="email" id="email" name="email"
                                                        class="form-control form-control-lg" required />
                                                    <label class="form-label" for="email">email</label>
                                                </div>

                                                <div class="form-outline mb-4">
                                                    <input type ="hidden"  name="skillsToBeLearned" id="skillsToBeLearned-tags-input" value="" required>
                                                    <input type="text" id="skillsToBeLearned" class="form-control  form-control-lg" />
                                                    
                                                    <label class="form-label" for="skillsToBeLearned">Skills
                                                        Required (Press Enter to add a Skill)</label>
                                                </div>

                                                <div id="skillsToBeLearned-container"></div>

                                                <div class="form-outline mb-4">
                                                    <input type ="hidden"  name="technologiesUsed" id="technologiesUsed-tags-input" value="" required>
                                                    <input type="text" id="technologiesUsed" class="form-control  form-control-lg" />
                                                    
                                                    <label class="form-label" for="technologiesUsed">Technologies used (Press Enter to add a Technology)</label> 
                                                </div>

                                                <div id="technologiesUsed-container"></div>


                                                <div class="row">
                                                    <div class="col-md-6 mb-4">

                                                        <div class="form-outline">
                                                            <input type="text" id="projectSourceCode"
                                                                name="projectSourceCode"
                                                                class="form-control form-control-lg" required />
                                                            <label class="form-label"
                                                                for="projectSourceCode">projectSourceCode(link)</label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 mb-4">

                                                        <div class="form-outline">
                                                            <input type="text" id="videoDemo" name="videoDemo"
                                                                class="form-control form-control-lg" required />
                                                            <label class="form-label"
                                                                for="videoDemo">videoDemo(link)</label>
                                                        </div>

                                                    </div>
                                                </div>




                                                <div class=" mb-4">
                                                    <label class="form-label" for="projectReport">projectReport</label>

                                                    <input type="file" id="projectReport" name="projectReport"
                                                        class="form-control  form-control-lg" required
                                                        accept="application/pdf" />

                                                </div>
                                                <div class=" mb-4">
                                                    <label class="form-label" for="projectImage">projectImage</label>

                                                    <input type="file" id="projectImage" name="projectImage"
                                                        class="form-control  form-control-lg" required
                                                        accept="image/jpg,image/png" />
                                                </div>

                                                <div class="d-flex justify-content-center pt-3">
                                                    <input id="submitProjectRepoForm" type="submit"
                                                        class="btn btn-primary ms-2 btn-lg" value="Submit">
                                                </div>
                                            </form>




                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
          <!-- footer  -->
          <%- include('../Footer/Footer.ejs') %>
        </body>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.0/js/intlTelInput.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.8/jquery.inputmask.bundle.min.js'></script>
<script type="text/javascript" src="/js/ProjectRepository/uploadProjectRepository.js"></script>

</html>