<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Research papers</title>

<style>
  body{
      background-color: #f6f9ff !important;
    }
  .researchPaperDetails span{
    background-color: #e5e5e5;
    padding: 5px 8px ;
    border-radius: 5px;
    color: #4f4f4f;
  }

.skillsBadgeText{
    color: #4f4f4f !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-left: 5px !important;
  }

  .researchpapertext{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

</style>
</head>

<body>
    <!-- Navbar  -->
    <% if(login){ %>
      <% if(typeof role!="undefined" && role){ %>
          <% if(role=="student"){ %>
              <%- include('../Navbar/StudentNavbar.ejs') %>
          <% }else if(role=="mentor"){ %>
              <%- include('../Navbar/MentorNavbar.ejs') %>
          <% }else if(role=="admin"){ %>
              <%- include('../Navbar/AdminNavbar.ejs') %>
          <% }else if(role=="company"){ %>
              <%- include('../Navbar/CompanyNavbar.ejs') %>
          <% } %>
      <% } %>
      
      <% }else { %>
          <%- include('../Navbar/InitNavbar.ejs') %>
      <% } %>


  <!-- beautifull heading  -->
  <!-- <%= JSON.stringify(researchPapers.data.allResearchPaper) %> -->

  <div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-2 text-center text-primary text-uppercase">Research paper</h2>
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-5">

    <div class="input-group mt-3 mb-3">
      <div class="form-outline">
        <input type="search" id="search-input" class="form-control" />
        <label class="form-label" for="form1">Search By Project Name, Guide Name, Team Members, skills</label>
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
    
    <div class="dropdown my-4">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2"
        data-mdb-toggle="dropdown" aria-expanded="false">
        Research Papers
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" id="ResearchPaperButton" type="button">Research Papers</button></li>
        <li><button class="dropdown-item" id="ResearchPaperMentorButton" type="button">Looking For
            Mentor Guide</button></li>
        <li><button class="dropdown-item" id="ResearchPaperCoAuthorButton" type="button">Looking For
            Co Author</button></li>
      </ul>
    </div>

    <div id="cardContent"></div>

        <!-- Fotter -->
        <%- include('../Footer/Footer.ejs') %>



</body>

<script src="js/ResearchPaper/script.js"></script>


</html>