<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Research Paper</title>

    <style>
        .card {
            box-shadow: 0 0 15px -2px #444444;
            ;

        }

        .main-heading {
            color: #1c4980;
        }
        body{
      background-color: #f6f9ff !important;
    }
    </style>
</head>

<!-- Navbar  -->
<% if(login){ %>
    <% if(typeof role!="undefined" && role){ %>
        <% if(role=="student"){ %>
            <%- include('../Navbar/StudentNavbar.ejs') %>
        <% }else if(role=="mentor"){ %>
            <%- include('../Navbar/MentorNavbar.ejs') %>
        <% }else if(role=="admin"){ %>
            <%- include('../Navbar/AdminNavbar.ejs') %>
        <% }else if(role=="company"){ %>
            <%- include('../Navbar/CompanyNavbar.ejs') %>
        <% } %>
    <% } %>
    
    <% }else { %>
        <%- include('../Navbar/InitNavbar.ejs') %>
    <% } %>
<body>
    <section class="h-100 ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">

                            <div class="col-xl-12">
                                <% if(typeof message != "undefined" && message){ %>
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <%= message.message %>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <% } %>
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase main-heading">Upload Research paper Details</h3>

                                    <form method="post" action="/uploadResearchPaper" id="addInternshipform">
                                        <div class="form-outline mb-4">
                                            <input type="text" id="title" name="title"
                                                class="form-control form-control-lg" required />
                                            <label class="form-label" for="title">title</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <textarea type="input" class="form-control  form-control-lg"
                                                id="description" name="description" rows="3"
                                                required></textarea>
                                            <label class="form-label" for="description">Brief Description About
                                                Research paper</label>
                                        </div>

                                        <div class=" mb-4">

                                            <select class="form-select form-select-lg" id="category" name="category"
                                                aria-label="Default select example" required>
                                                <option value="" selected>Choose category</option>

                                            </select>

                                        </div>
                                        <div class=" mb-4">

                                            <select class="form-select form-select-lg" id="needof" name="needof"
                                                aria-label="Default select example" required>
                                                <option value="" selected>Choose Need</option>

                                            </select>

                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" id="teamMembers" name="teamMembers"
                                                class="form-control  form-control-lg" required />
                                            <label class="form-label" for="teamMembers">teamMembers</label>

                                        </div>


                                        <div class="form-outline mb-4">
                                            <input type="text" id="guide" name="guide"
                                                class="form-control  form-control-lg" required />
                                            <label class="form-label" for="guide">guide</label>

                                        </div>


                                 

                                        

                                        <div class="form-outline mb-4">
                                            <input type="text" id="skillsRequired" name="skillsRequired"
                                                class="form-control form-control-lg" required />
                                            <label class="form-label" for="skillsRequired">Skills Required(Seperate By
                                                Comma(,) )</label>
                                        </div>


                                        <div class="form-outline mb-4">
                                            <textarea type="input" class="form-control  form-control-lg"
                                                id="noteDetails" name="noteDetails" rows="3"
                                                required></textarea>
                                            <label class="form-label" for="noteDetails">noteDetails
                                                </label>
                                        </div>

                                       

                                        <div class="d-flex justify-content-center pt-3">
                                            <input id="submitInternshipForm" type="submit"
                                                class="btn btn-primary ms-2 btn-lg" value="Submit">
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!-- footer  -->
      <%- include('../Footer/Footer.ejs') %>
</body>
<script type="text/javascript" src="/js/ResearchPaper/uploadResearchPaper.js"></script>
</html>