<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/Home/aos.css" rel="stylesheet">
    <link href="/css/Home/home.css" rel="stylesheet">
    <link href="/css/Home/swiper-bundle.min.css" rel="stylesheet">
   
  <!-- my css links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
  integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  .nav-scroller-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 30px;
}

.nav-scroller {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  padding-bottom: 20px;
  margin: 0 20px -20px 20px;
}

.nav-scroller-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  float: left;
  width: min-content;
  min-width: 100%;
  transition: transform 0.4s ease-in-out;
}

.no-transition {
  transition: none;
}

.nav-scroller-content .active{
  background-color: #3b71ca;
  color: white;
}
.nav-scroller-item {
  display: block;
  font-size: 0.85rem;
  text-align: center;
  padding: 0.2rem 0.6rem;
  margin: 0 0.5rem;
  background-color: white;
  border-radius: 8px;
  color: black;
  border: 2px solid #3b71ca;
}


.nav-scroller-content li:hover{
  background-color: #3b71ca;
  color: white;
  text-decoration-line: none;
  transition: .5s ease;
  cursor: pointer;
}

.nav-scroller-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  transition: opacity 0.3s;
  height: 2.25rem;
  width: 2rem;
  border: none;
  background-color:transparent;                           
  color: black;
}
.nav-scroller-btn:not(.active) {
  opacity: 0;
  pointer-events: none;
}

.nav-scroller-btn--left {
  left: 0;
}

.nav-scroller-btn--right {
  right: 0;
}

body {
  background-color: #ccc;
}

.fullwidth {
  padding: 15px 0;
  margin: 15px 0;
  background-color: #fff;
}
</style>
   
</head>
<body>

<!-- Navbar  -->
<% if(login){ %>
    <% if(typeof role!="undefined" && role){ %>
        <% if(role=="student"){ %>
            <%- include('../Navbar/StudentNavbar.ejs') %>
        <% }else if(role=="mentor"){ %>
            <%- include('../Navbar/MentorNavbar.ejs') %>
        <% }else if(role=="admin"){ %>
            <%- include('../Navbar/AdminNavbar.ejs') %>
        <% }else if(role=="company"){ %>
            <%- include('../Navbar/CompanyNavbar.ejs') %>
        <% } %>
    <% } %>
    
    <% }else { %>
        <%- include('../Navbar/InitNavbar.ejs') %>
    <% } %>

    
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Connecting
            Talent, Colleges, Recruiters</h1>
          <p data-aos="fade-up" data-aos-delay="400" class="mt-3 text-primary-own hero-subtext" >Explore opportunities from across the globe to learn, showcase skills, gain CV points, & get hired by your dream company.</p>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 hero-img" data-aos="fade-up" data-aos-delay="200">
            <div class="d-flex">
                <div class="m-2">
                    <p class="imgText position-absolute fw-bold text-primary-own mt-2 ms-2">Internship</p>
                    <img src="/images/Dummy/home-hero-learn.png" class="img-fluid" alt="">

                </div>
                <div class="m-2 text-start">
                    <p class="imgText position-absolute fw-bold mt-2 ms-2" style="color:#a988f4;">Project<br> Repository</p>

                    <img src="/images/Dummy/home-hero-practice.png" class="img-fluid" alt="">

                </div>
                <div class="m-2">
                    <p class="imgText position-absolute fw-bold text-primary-own mt-2 ms-2">IDP</p>

                    <img src="/images/Dummy/home-hero-mentorships.png" class="img-fluid" alt="">

                </div>
            </div>
            <div class="d-flex">
                <div class="m-2">
                    <p class="imgText position-absolute fw-bold text-primary-own mt-2 ms-2">Mentors</p>

                    <img src="/images/Dummy/home-hero-compete.png" class="img-fluid" alt="">

                </div>
                <div class="m-2">
                    <p class="imgText position-absolute fw-bold text-primary-own mt-2 ms-2">Sell Product</p>

                    <img src="/images/Dummy/home-hero-jobs.png" class="img-fluid" alt="">

                </div>
                <div class="m-2">
                    <p class="imgText position-absolute fw-bold text-primary-own mt-2 ms-2">Research paper</p>

                    <img src="/images/Dummy/home-hero-blogs.png" class="img-fluid" alt="">

                </div>
            </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients mt-5 mb-9">

        <div class="container" data-aos="fade-up">
  
    

          <header class="section-header text-left mt-5 mb-5">
            <h2 class="text-primary-own fw-bold">Our clients</h2>
            <p class="text-primary-own">Participate, Showcase Skills & Gain CV Points through online & offline opportunities of your interest & make your mark!
          </p>
          </header>
  
          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="/images/Dummy/client-1.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="/images/Dummy/client-2.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="/images/Dummy/client-3.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="/images/Dummy/client-4.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="/images/Dummy/client-5.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="/images/Dummy/client-6.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="/images/Dummy/client-7.png" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="/images/Dummy/client-8.png" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination mb-4"></div>
          </div>
        </div>
  
      </section><!-- End Clients Section -->

      
      <!-- Internships  -->
<section class="internships mb-5 mt-5">
  <div class="container" data-aos="fade-up">

      <header class="section-header text-left mt-5 mb-5 pt-5">
        <h2 class="text-primary-own fw-bold">Explore Internships</h2>
        <p class="text-primary-own">Participate, Showcase Skills & Gain CV Points through online & offline opportunities of your interest & make your mark!
      </p>
      </header>

        <div class="row">
          <div class="nav-scroller-wrapper">
            <nav class="owl-filter-bar nav-scroller">

                <div class="nav-scroller-content" id="category-fillter">
                    <li href="#" class="item nav-scroller-item active" data-owl-filter="*">All</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Web-Developer">Web Developer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Software-Engineer">Software
                        Engineer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Android-Developer">Android
                        Developer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".SEO-Engineer">SEO Engineer</li>
                    <!-- ============================ -->
                    <li href="#" class="item nav-scroller-item" data-owl-filter="*">All</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Web-Developer">Web Developer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Software-Engineer">Software
                        Engineer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Android-Developer">Android
                        Developer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".SEO-Engineer">SEO Engineer</li>
                    <!-- === -->
                    <li href="#" class="item nav-scroller-item" data-owl-filter="*">All</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Web-Developer">Web Developer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Software-Engineer">Software
                        Engineer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".Android-Developer">Android
                        Developer</li>
                    <li href="#" class="item nav-scroller-item" data-owl-filter=".SEO-Engineer">SEO Engineer</li>
                    <!-- === -->
                </div>

            </nav>

            <button class="btn-sm nav-scroller-btn nav-scroller-btn--left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>

            <button class="btn-sm nav-scroller-btn nav-scroller-btn--right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

        </div>

          <div class="owl-carousel owl-theme mt-4 pb-4">
              <div class="item Web-Developer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-1.jpg" class="card-img-top p-2" alt="..." >
                      <div class="card-body">
                        <h5 class="card-title">Web Developer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                    </div>
              </div>
              <div class="item Software-Engineer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-2.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item Software-Engineer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-3.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item SEO-Engineer" >
                  <div class="card">
                      <img src="/images/Dummy/portfolio-4.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">SEO Engineer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item Web-Developer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-5.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Web Developer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item Web-Developer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-6.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Web Developer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item SEO-Engineer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-7.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">SEO Engineer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item Software-Engineer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-8.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item Android-Developer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-9.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Android Developer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item Software-Engineer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-1.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item Software-Engineer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-2.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Software Engineer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item SEO-Engineer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-3.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">SEO Engineer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
              <div class="item Android-Developer">
                  <div class="card">
                      <img src="/images/Dummy/portfolio-4.jpg" class="card-img-top p-2" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Android Developer</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>


    <!-- Internships  -->

      
   

 <!-- ======= Counts Section ======= -->
 <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-headset" style="color: #15be56;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-people" style="color: #bb0852;"></i>
            <div>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Mentors</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">

    <div class="container" data-aos="fade-up">

        <header class="section-header text-left mt-5 mb-5">
            <h2 class="text-primary-own fw-bold">Products</h2>
            <p class="text-primary-own">Participate, Showcase Skills & Gain CV Points through online & offline opportunities of your interest & make your mark!
          </p>
          </header>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="/images/Dummy/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="/images/Dummy/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Portfolio Section -->


 <!-- ======= mentor Section ======= -->
 <section id="testimonials" class="testimonials">

  <div class="container" data-aos="fade-up">

   

    <header class="section-header text-left mt-5 mb-5 pt-5">
      <h2 class="text-primary-own fw-bold">Mentors</h2>
      <p class="text-primary-own">Participate, Showcase Skills & Gain CV Points through online & offline opportunities of your interest & make your mark!
    </p>
    </header>


    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
            </p>
            <div class="profile mt-auto">
              <img src="/images/Dummy/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            </p>
            <div class="profile mt-auto">
              <img src="/images/Dummy/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
            </p>
            <div class="profile mt-auto">
              <img src="/images/Dummy/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
            </p>
            <div class="profile mt-auto">
              <img src="/images/Dummy/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="stars">
              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
            </div>
            <p>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            </p>
            <div class="profile mt-auto">
              <img src="/images/Dummy/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</section><!-- End Testimonials Section -->



      <!--  project repository  -->
      <section class="projectrepos mb-5 mt-5">
        <div class="container" data-aos="fade-up">
      
            <header class="section-header text-left mt-5 mb-5 pt-5">
              <h2 class="text-primary-own fw-bold">Explore Project Repositories </h2>
              <p class="text-primary-own">covers Projects in each Sector across India
            </p>
            </header>

            <div class="slides-4 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
      
                  <div class="swiper-slide">
                    <div class="projectrepo-wrap">
                      <!-- <div class="projectrepo-item"> -->
                        <div class="courses">
                        <div class="course-item">
                            <img src="/images/Dummy/portfolio-4.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Web Development</h4>
                              </div>
              
                              <h3><a href="course-details.html">Website Design</a></h3>
                              <p class="repotext">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, culpa!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nam. Nam at autem architecto quasi?</p>
                              <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                  <img src="/images/Dummy/team-1.jpg" class="img-fluid" alt="">
                                  <span>Antonio</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                  <i class="fa fa-user"></i>&nbsp;50
                                  &nbsp;&nbsp;
                                </div>
                              </div>
                            <!-- </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="projectrepo-wrap">
                      <!-- <div class="projectrepo-item"> -->
                        <div class="courses">
                        <div class="course-item">
                            <img src="/images/Dummy/portfolio-5.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Web Development</h4>
                              </div>
              
                              <h3><a href="course-details.html">Website Design</a></h3>
                              <p class="repotext">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem impedit vel minima nam, incidunt qui fuga odio illo numquam illum?</p>
                              <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                  <img src="/images/Dummy/team-2.jpg" class="img-fluid" alt="">
                                  <span>Antonio</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                  <i class="fa fa-user"></i>&nbsp;50
                                  &nbsp;&nbsp;
                                </div>
                              </div>
                            <!-- </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="projectrepo-wrap">
                      <!-- <div class="projectrepo-item"> -->
                        <div class="courses">
                        <div class="course-item">
                            <img src="/images/Dummy/portfolio-6.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Web Development</h4>
                              </div>
              
                              <h3><a href="course-details.html">Website Design</a></h3>
                              <p class="repotext">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, unde. Adipisci officiis qui delectus sunt eos nemo quibusdam ab nihil.</p>
                              <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="trainer-profile d-flex align-items-center">
                                  <img src="/images/Dummy/team-3.jpg" class="img-fluid" alt="">
                                  <span>Antonio</span>
                                </div>
                                <div class="trainer-rank d-flex align-items-center">
                                  <i class="fa fa-user"></i>&nbsp;50
                                  &nbsp;&nbsp;
                                </div>
                              </div>
                            <!-- </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  <!-- End courses item -->
      
                 
      
                </div>
              </div>




            </div>
            </section>
      <!-- project repository  -->


      <!--  research paper  -->
      <section class="researchpapers mb-5 mt-5">
        <div class="container" data-aos="fade-up">
      
            <header class="section-header text-left mt-5 mb-5 pt-5">
              <h2 class="text-primary-own fw-bold">Explore Research Papers </h2>
              <div class="d-flex justify-content-between">

                <p class="text-primary-own">covers Projects in each Sector across India</p>
                <a href="#"><h5>View More</h5></a>
              </div>
            
            </header>

            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">ICCAD 2023
                    </h4>
                    <p class=" researchtext card-text">Jointly sponsored by IEEE and ACM, ICCAD is the premier forum to explore new challenges, present leading-edge innovative solutions, and identify emerging technologies in the electronic design automation research areas. ICCAD covers the full range of CAD topics – from device and circuit level up through system level, as well as post-CMOS design. ICCAD has a long-standing tradition of producing cutting-edge, innovative technical program for attendees.</p>
                    <div class="d-flex flex-wrap">
                      <p class="badges">Python</p>
                      <p class="badges">Node js</p>
                      <p class="badges">MongodB</p>
                    </div>
                    <a href="#" class="btn btn-primary">View detail</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">ICCAD 2023
                    </h4>
                    <p class=" researchtext card-text">Jointly sponsored by IEEE and ACM, ICCAD is the premier forum to explore new challenges, present leading-edge innovative solutions, and identify emerging technologies in the electronic design automation research areas. ICCAD covers the full range of CAD topics – from device and circuit level up through system level, as well as post-CMOS design. ICCAD has a long-standing tradition of producing cutting-edge, innovative technical program for attendees.</p>
                    <div class="d-flex flex-wrap">
                      <p class="badges">Python</p>
                      <p class="badges">Node js</p>
                      <p class="badges">MongodB</p>
                    </div>
                    <a href="#" class="btn btn-primary">View detail</a>
                  </div>
                </div>
              </div>
            </div>




            </div>
            </section>
      <!-- research paper  -->

      <!-- footer  -->
      <%- include('../Footer/Footer.ejs') %>


</body>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script> -->
<!-- <script src="assets/vendor/glightbox/js/glightbox.min.js"></script> -->

<!-- my script -->

 <!-- Option 1: Bootstrap Bundle with Popper -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
 integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
 crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
 integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
 crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- // OwlCarousel 2 - Filter -->
<script src="https://huynhhuynh.github.io/owlcarousel2-filter/dist/owlcarousel2-filter.min.js"></script>

<script>
 var owl = $('.owl-carousel').owlCarousel({
     loop: true,
     margin: 10,
     nav: true,
     responsive: {
         0: {
             items: 1
         },
         600: {
             items: 3
         },
         1000: {
             items: 4
         }
     }
 })

 $('.owl-filter-bar').on('click', '.item', function () {

     var $item = $(this);
     var filter = $item.data('owl-filter')

     owl.owlcarousel2_filter(filter);

 })

//  part 2

const navScroller = function({
    wrapperSelector: wrapperSelector = '.nav-scroller-wrapper',
    selector: selector = '.nav-scroller',
    contentSelector: contentSelector = '.nav-scroller-content',
    buttonLeftSelector: buttonLeftSelector = '.nav-scroller-btn--left',
    buttonRightSelector: buttonRightSelector = '.nav-scroller-btn--right',
    scrollStep: scrollStep = 75
  } = {}) {

  let scrolling = false;
  let scrollingDirection = '';
  let scrollOverflow = '';
  let timeout;

  let navScrollerWrapper;

  if (wrapperSelector.nodeType === 1) {
    navScrollerWrapper = wrapperSelector;
  }
  else {
    navScrollerWrapper = document.querySelector(wrapperSelector);
  }
  if (navScrollerWrapper === undefined || navScrollerWrapper === null) return;

  let navScroller = navScrollerWrapper.querySelector(selector);
  let navScrollerContent = navScrollerWrapper.querySelector(contentSelector);
  let navScrollerLeft = navScrollerWrapper.querySelector(buttonLeftSelector);
  let navScrollerRight = navScrollerWrapper.querySelector(buttonRightSelector);


  // Sets overflow
  const setOverflow = function() {
    scrollOverflow = getOverflow(navScrollerContent, navScroller);
    toggleButtons(scrollOverflow);
  }


  // Debounce setting the overflow with requestAnimationFrame
  const requestSetOverflow = function() {
    if (timeout) {
      window.cancelAnimationFrame(timeout);
    }

    timeout = window.requestAnimationFrame(() => {
      setOverflow();
    });
  }


  // Get overflow value on scroller
  const getOverflow = function(content, container) {
    let containerMetrics = container.getBoundingClientRect();
    let containerWidth = containerMetrics.width;
    let containerMetricsLeft = Math.floor(containerMetrics.left);

    let contentMetrics = content.getBoundingClientRect();
    let contentMetricsRight = Math.floor(contentMetrics.right);
    let contentMetricsLeft = Math.floor(contentMetrics.left);

    // Offset the values by the left value of the container
    let offset = containerMetricsLeft;
    containerMetricsLeft -= offset;
    contentMetricsRight -= offset + 1; // Due to an off by one bug in iOS
    contentMetricsLeft -= offset;

    // console.log (containerMetricsLeft, contentMetricsLeft, containerWidth, contentMetricsRight);

    if (containerMetricsLeft > contentMetricsLeft && containerWidth < contentMetricsRight) {
        return 'both';
    } else if (contentMetricsLeft < containerMetricsLeft) {
        return 'left';
    } else if (contentMetricsRight > containerWidth) {
        return 'right';
    } else {
        return 'none';
    }
  }


  // Move the scroller with a transform
  const moveScroller = function(direction) {
    if (scrolling === true) return;

    setOverflow();

    let scrollDistance = scrollStep;
    let scrollAvailable;


    if (scrollOverflow === direction || scrollOverflow === 'both') {

      if (direction === 'left') {
        scrollAvailable = navScroller.scrollLeft;
      }

      if (direction === 'right') {
        let navScrollerRightEdge = navScroller.getBoundingClientRect().right;
        let navScrollerContentRightEdge = navScrollerContent.getBoundingClientRect().right;

        scrollAvailable = Math.floor(navScrollerContentRightEdge - navScrollerRightEdge);
      }

      // If there is less that 1.5 steps available then scroll the full way
      if (scrollAvailable < (scrollStep * 1.5)) {
        scrollDistance = scrollAvailable;
      }

      if (direction === 'right') {
        scrollDistance *= -1;
      }

      navScrollerContent.classList.remove('no-transition');
      navScrollerContent.style.transform = 'translateX(' + scrollDistance + 'px)';

      scrollingDirection = direction;
      scrolling = true;
    }

  }


  // Set the scroller position and removes transform, called after moveScroller()
  const setScrollerPosition = function() {
    var style = window.getComputedStyle(navScrollerContent, null);
    var transform = style.getPropertyValue('transform');
    var transformValue = Math.abs(parseInt(transform.split(',')[4]) || 0);

    if (scrollingDirection === 'left') {
      transformValue *= -1;
    }

    navScrollerContent.classList.add('no-transition');
    navScrollerContent.style.transform = '';
    navScroller.scrollLeft = navScroller.scrollLeft + transformValue;
    navScrollerContent.classList.remove('no-transition');

    scrolling = false;
  }


  // Toggle buttons depending on overflow
  const toggleButtons = function(overflow) {
    navScrollerLeft.classList.remove('active');
    navScrollerRight.classList.remove('active');

    if (overflow === 'both' || overflow === 'left') {
      navScrollerLeft.classList.add('active');
    }

    if (overflow === 'both' || overflow === 'right') {
      navScrollerRight.classList.add('active');
    }
  }


  const init = function() {

    // Determine scroll overflow
    setOverflow();

    // Scroll listener
    navScroller.addEventListener('scroll', () => {
      requestSetOverflow();
    });

    // Resize listener
    window.addEventListener('resize', () => {
      requestSetOverflow();
    });

    // Button listeners
    navScrollerLeft.addEventListener('click', () => {
      moveScroller('left');
    });

    navScrollerRight.addEventListener('click', () => {
      moveScroller('right');
    });

    // Set scroller position
    navScrollerContent.addEventListener('transitionend', () => {
      setScrollerPosition();
    });

  };

  // Init is called by default
  init();


  // Reveal API
  return {
    init
  };
};

const navScrollerTest = navScroller();

// Part 3
const header = document.getElementById("category-fillter");
const btns = header.getElementsByClassName("nav-scroller-item");
for (let i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  const current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}

</script>

<script src="/js/Home/isotope.pkgd.min.js"></script>

<script src="/js/Home//purecounter_vanilla.js"></script>

<script src="/js/Home/aos.js"></script>
<script src="/js/Home/swiper-bundle.min.js"></script>

<script src="/js/Home/home.js"></script>


</html>