<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CodePen - Real Estate</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
  <!-- jquery cdn  -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css'>
  <link rel="stylesheet" href="css/Internship_IndustrialProject/style.css">

</head>

<body>
  <!-- partial:index.partial.html -->


  <div class="container">

    <div class="sidebar">
      <a href="#!" id="hide-filter-btn"><i class="fa fa-long-arrow-left"></i></a>

      <h5><i class="fa fa-filter"></i>FILTER</h5>
      <div class="select-options">
        <form method="get" action="/internships" id="filterForm">
          <select class="form-select mb-3" aria-label="Default select example" id="category" name="category">
            <option selected value="">Choose Category</option>

          </select>


          <select class="form-select mb-3" aria-label="Default select example" id="location" name="location">
            <option selected value="">Choose Location</option>

          </select>

          <select class="form-select mb-3" aria-label="Default select example" id="modeOfInternship"
            name="modeOfInternship">
            <option selected value="">Choose Mode of internship</option>

          </select>
      </div>




      <div id="checkboxes">
        <label for="paidOrUnpaid">
          <input type="checkbox" id="paidOrUnpaid" name="paidOrUnpaid">
          <span class="text">Paid</span>
        </label>
        <label for="typeOfInternship">
          <input type="checkbox" id="typeOfInternship" name="typeOfInternship">
          <span class="text">Part-time</span>
        </label>

      </div>

      <p>Stipend</p>
      <div class="sliders">
        <div id="price-slider" class="slider"></div>
        <div class="display-values">
          <span class="start"></span>
          <span class="end"></span>
        </div>
      </div>

      <div>
        <input type="submit" class="btn btn-primary" value="Apply filter" id="submitFilterForm">
      </div>

      </form>




      <!--     <p>Radius</p>
    <div id="radius-slider" class="slider"></div> -->



    </div><!--side-bar end-->

    <main>
      <a href="#!" id="filter-btn">Filter</a>
      <header>
        <form action="">
          <input type="search" placeholder="Search By Company Name" id="searchCompany">
        </form>

      </header>
      <!-- <div class="second-header">
        <div class="select-wrapper">
          <select>
            <option value="">Date descending</option>
          </select>
        </div>

      </div> -->

      <!-- <% if(typeof internships.message !='undefined' && internships.message){ %>
        <div class="alert alert-danger" role="alert">
          <%= internships.message %>
        </div>
        <% } %> -->
      <!-- <%= JSON.stringify(internships.message) %> -->

      <div id="differentRoleNotApply"></div>
      <div id="alreadyAppliedAlert"></div>
      <div id="successAlert"></div>
      <div id="noOfInternshipFound" class="ms-3 noOfInternshipFound"></div>
      <div class="listings">

        <% internships.data.allinternship.forEach(item=> {
          %>
          <div class="card">

            <div class="activeDeactive">
              <% if(item.status){ %>
                <span>Actively Hiring</span>
                <% }else{ %>
                  <span>Not Actively Hiring</span>
                  <% } %>
            </div>
            <div class="row">
              <div class="col-md-8">
                <h4>
                  <%= item.position %>
                </h4>
                <p id="companyName">
                  <%= item.companyName %>
                </p>
                <p><i class="fa-solid fa-location-dot"></i>
                  <%= item.location %>

                </p>

              </div>
              <div class="col-md-4">
                <img src="images/Internship/IBM_logo_in.jpg" width="50%" alt="">
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <p><i class="fa-regular fa-circle-play"></i>Start date</p>
                <p>

                  <%= item.dateOfPosting.slice(0,10) %>

                </p>
              </div>
              <div class="col-md-3">
                <p><i class="fa-regular fa-calendar"></i>Duration</p>
                <p>
                  <%= item.duration %>
                </p>
              </div>
              <div class="col-md-3">
                <p><i class="fa-solid fa-money-check"></i>Stipend</p>
                <p>
                  <%= item.stipend %>
                </p>
              </div>
            </div>
            <div class="paidOrUnpaid d-flex mb-3 justify-content-start flex-wrap">
              <div class="ms-1 me-1 mb-3 mb-sm-0 ">
                <span>
                  <%= item.paidOrUnpaid %>
                </span>
              </div>
              <div class="ms-1 me-1 mb-3 mb-sm-0">
                <span><i class="fa-regular fa-clock"></i>
                  <%= item.typeOfInternship %>
                </span>

              </div>
              <div class="ms-1 me-1 mb-3 mb-sm-0">
                <span><i class="fa fa-home-user"></i>
                  <%= item.modeOfInternship %>
                </span>

              </div>
            </div>
            <div class="totalApplication">
              <p>
                <i class="fa-regular fa-user"></i>
                <%= item.totalNumberOfApplicants %>
                  Applicants
              </p>
            </div>
            <hr>
            <div class="d-flex flex-row-reverse">
              <div class="ms-2 me-2">
                <a href="/internships?_id=<%= item._id %>"><button class="btn btn-primary" id="detailbtn">View
                    Details</button></a>
              </div>
              <div id="applyNowBtnDynamic">
<%
if (userId != null && userRole == "student") {
  %>
      <button class="btn btn-secondary applynow"  data-id="<%= item._id  %>">
                    Apply now
    
                  </button>
  <%  }
    else if (userId != null && userRole != "student") {
      %>
      <button class="btn btn-tertiary">
                    You can't apply
    
                  </button>
    <% }
    else { %>
      <a href="/login"><button class="btn btn-secondary" id="login">
                        Apply now
                      </button></a>

   <% } %>



%>
              </div>

            </div>


          </div>
          <% }); %>





      </div>

      <!-- apply Modal  -->
      <div class="modal fade" id="applyNowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Your application</h5>
              <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modalformalert"></div>
            <div class="modal-body">


              <form method="post" id="internshipAppForm" enctype="multipart/form-data">
                <div class="form-outline mb-4"> 
                  


                  <input type="text" id="name" name="name" class="form-control form-control-lg" required />
                  <label class="form-label" for="name">Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="email" name="email" class="form-control form-control-lg" required />
                  <label class="form-label" for="email">Email</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="number" pattern="[0-9]{10}" id="phone" name="phone" class="form-control form-control-lg"
                    required />
                  <label class="form-label" for="phone">Phone</label>
                </div>
                <div class="mb-4">
                  <select class="form-select form-select-lg" id="branch" name="branch"
                    aria-label="Default select example" required>
                    <option value="" selected>Choose Branch</option>

                  </select>
                </div>
                <div class="mb-4">
                  <select class="form-select form-select-lg" id="college" name="college"
                    aria-label="Default select example" required>
                    <option value="" selected>Choose college</option>

                  </select>
                </div>
                <div class="mb-3">
                  <select class="form-select form-select-lg" id="education" name="education"
                    aria-label="Default select example" required>
                    <option value="" selected>Choose education</option>

                  </select>
                </div>
                <div class="mb-3">
                  <select class="form-select form-select-lg" id="state" name="state" aria-label="Default select example"
                    required>
                    <option value="" selected>Choose state</option>

                  </select>
                </div>
                <div class="mb-3">
                  <select class="form-select form-select-lg" id="stream" name="stream"
                    aria-label="Default select example" required>
                    <option value="" selected>Choose stream</option>

                  </select>
                </div>
                <div class="mb-3">
                  <select class="form-select form-select-lg" id="university" name="university"
                    aria-label="Default select example" required>
                    <option value="" selected>Choose university</option>

                  </select>
                </div>
                <div class="mb-3">
                  <select class="form-select form-select-lg" id="semester" name="semester"
                    aria-label="Default select example" required>
                    <option value="" selected>Choose semester</option>

                  </select>
                </div>
                <div class="mb-3">
                  <label for="resume" class="form-label">Resume</label>
                  <input class="form-control" type="file" id="resume" name="resume" required>
                </div>


            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" id="CloseModal">Close</button>
              <button type="button" class="btn btn-primary" id="submitInternshipApp">Submit</button>
            </div>
          </form>

          </div>
        </div>
      </div>



    </main>



  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js'></script>
  <script src="js/Internship/script.js" userId="<%= userId %>" userRole="<%= userRole %>"></script>

</body>


</html>