<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- my css -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <style>
    /* my css */
    .carousel-item {
      text-align: center;
      background-color: #fff;
    }

    .carousel-item img {
      max-width: 100%;
      height: auto;
      cursor: pointer;
    }

    .modal-dialog {
      max-width: 800px;
    }

    .modal-dialog img {
      max-width: 100%;
      height: auto;
    }

    .modal-header .close {
      position: absolute;
      top: 6px;
    right: 14px;
      padding: 10px;
      color: #000;
      text-shadow: none;
      font-size: 30px;
    }

  
    @media only screen and (max-width: 992px) {
      .s-works {
        padding-top: 15rem;
        padding-bottom: 15rem;
      }
    }

    /* ================================================================= */
    .share-popup {
      z-index: 500;
      max-width: max-content;
      width: 85%;
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .share-popup a {
      display: inline-block;
      margin-right: 10px;
      font-size: 24px;
      color: #000;
      text-decoration: none;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      color: #000;
      cursor: pointer;
      border: none;



    }

    #overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 100;
      display: none;
    }

    @media (max-width: 767.98px) {
      .border-sm-start-none {
        border-left: none !important;
      }
    }

    .hideDetail:hover {
      cursor: pointer;
    }


    body {
      background-color: #f6f9ff !important;
    }
  </style>

</head>

<body>
  <!-- Navbar  -->
  <% if(login){ %>
    <% if(typeof role!="undefined" && role){ %>
      <% if(role=="student" ){ %>
        <%- include('../Navbar/StudentNavbar.ejs') %>
          <% }else if(role=="mentor" ){ %>
            <%- include('../Navbar/MentorNavbar.ejs') %>
              <% }else if(role=="admin" ){ %>
                <%- include('../Navbar/AdminNavbar.ejs') %>
                  <% }else if(role=="company" ){ %>
                    <%- include('../Navbar/CompanyNavbar.ejs') %>
                      <% } %>
                        <% } %>

                          <% }else { %>
                            <%- include('../Navbar/InitNavbar.ejs') %>
                              <% } %>
                                <div id="overlay"></div>
                                <section>
                                  <div class="container py-5">
                                    <div class="row justify-content-center mb-3">
                                      <div class="col-md-8 col-xl-6 mb-2 mb-md-0 ">
                                        <input type="search" class="form-control" id="searchProduct"
                                          style="background: transparent;" placeholder="Search by product name"
                                          aria-label="Search" />



                                      </div>

                                      <div class="col-md-2 col-xl-2 mb-2 mb-md-0 ">
                                        <select name="category" id="category" class="form-select"
                                          aria-label="Default select example"
                                          style="    background-color: #f6f9ff !important;">
                                          <option value="" selected>Choose category</option>

                                        </select>
                                      </div>
                                      <div class="col-md-2 col-xl-2 mb-2 mb-md-0 ">
                                        <select name="conditionRating" id="conditionRating" class="form-select"
                                          aria-label="Default select example"
                                          style="    background-color: #f6f9ff !important;">
                                          <option value="" selected>Choose conditionRating</option>
                                        </select>
                                      </div>
                                    </div>
                                    <!-- 

<%= JSON.stringify(products.statusCode) %>
<%= JSON.stringify(products.message) %>
<%= JSON.stringify(products.data.allProducts) %> -->
                                    <div id="savedAlert"></div>

                                    <div class="allProducts">

                                      <!-- foreach loop for products.data.allProducts  -->
                                      <% var index=0; %>
                                        <% products.data.allProducts.forEach(function(product){ %>
                                          <% if(product.verified) { %>
                                            <% index=index+1; %>

                                              <div class="row justify-content-center mb-3" id="<%= product._id %>">
                                                <div class="col-md-12 col-xl-10">
                                                  <div class="card shadow-3-strong border rounded-3">
                                                    <div class="card-body">
                                                      <div class="row">
                                                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                                          
                                                            <div id="productCarousel<%= index %>"
                                                              class="carousel slide" data-mdb-ride="carousel">
                                                              <div class="carousel-inner" id="cardimg<%= index %>">
                                                                    <% product.photos.forEach(function(photo){ %>
                                                                      <div class="carousel-item"
                                                                        style="text-align: center;text-align: -webkit-center; text-align: -moz-center; ">
                                                                        <img style="height: 180px;"
                                                                          src="<%- photo.path %>"
                                                                          class="img-thumbnail d-block glightbox"
                                                                          alt="Product" data-toggle="modal" data-target="#carouselModal<%= index %>" />
                                                                      </div>
                                                                      <% }) %>
                                                                
                                                              </div>

                                                                <a class="carousel-control-prev" href="#productCarousel<%= index %>" data-slide="prev">
                                                                  <span class="carousel-control-prev-icon"></span>
                                                                 
                                                                </a>
                                                                <a class="carousel-control-next" href="#productCarousel<%= index %>" data-slide="next">
                                                                  <span class="carousel-control-next-icon"></span>
                                                                 
                                                                </a>
                         
                                                            </div>
                                                            <!--  -->
                                                          <!-- Carousel Modals click and zoom effect -->
                                                          <div class="modal fade" id="carouselModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="carouselModalLabel<%= index %>" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                  </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                  <div id="carouselZoom<%= index %>" class="carousel slide" data-ride="carousel">
                                                                    <div class="carousel-inner" id="selectAct<%= index %>"> 
                                                                      <% product.photos.forEach(function(photo){ %>
                                                                      <div class="carousel-item">
                                                                        <img src="<%- photo.path %>" alt="Product 1">
                                                                      </div>
                                                                      <% }) %>
                                                                    </div>
                                                                    <a class="carousel-control-prev" href="#carouselZoom<%= index %>" data-slide="prev">
                                                                      <span class="carousel-control-prev-icon"></span>
                                                                    </a>
                                                                    <a class="carousel-control-next" href="#carouselZoom<%= index %>" data-slide="next">
                                                                      <span class="carousel-control-next-icon"></span>
                                                                    </a>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <!-- -======== -->
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                                          <h5 id="productName">
                                                            <%= product.productTitle %>
                                                          </h5>
                                                          <div class="d-flex flex-row">
                                                            <div class="text-primary mb-1 me-2">
                                                              <span id="conditionRatingVal" style="display:none;">
                                                                <%= product.conditionRating %>
                                                              </span>
                                                              <% for(var i=1; i<=product.conditionRating; i++){ %>
                                                                <i class="fa fa-star"></i>
                                                                <% } %>
                                                                  <% for(var j=0;j<5-product.conditionRating;j++){ %>
                                                                    <i class="fa-regular fa-star"></i>
                                                                    <% } %>

                                                            </div>
                                                          </div>
                                                          <div class="mt-1 mb-0  small">
                                                            <span class="text-primary"> • </span>
                                                            <span id="categoryName">
                                                              <%= product.category %>
                                                            </span>
                                                            <span class="text-primary"> • </span>
                                                            <span>
                                                              <%= product.location %>
                                                            </span>

                                                          </div>
                                                          <!-- badge -->
                                                          <% product.tag[0].split(",").forEach(function(tag){ %>
                                                            <span class="badge bg-success text-wrap"
                                                              style="font-size: 12px; margin: 5px;">
                                                              <%= tag %>
                                                            </span>
                                                            <% }) %>




                                                              <div class="mb-2 text-muted small">
                                                                <span class="text-primary"> • </span>
                                                                <span>Date Of Purchase : <%=
                                                                    product.dateOfPurchase.slice(0,10) %></span>

                                                              </div>
                                                              <div class="mb-2 text-muted small">
                                                                <span class="text-primary"> • </span>
                                                                <!-- <span id="<%= product._id %>" onload="getSellerName('<%= product._id %>')"></span> -->
                                                                <span class="product-seller">Posted By</span>
                                                                <span id="<%= product.userId %>"
                                                                  style="font-weight: bolder;"></span>


                                                              </div>

                                                        </div>
                                                        <div
                                                          class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start d-flex flex-column ">
                                                          <!-- <div class="d-flex flex-row align-items-center mb-1"> -->
                                                          <span
                                                            class="text-primary text-end flex-grow-1 gap-2 flex-wrap flex gap-3">
                                                            <!-- chat message  icon -->
                                                            <i class="fa fa-comment-alt share-button text-primary"></i>
                                                            <i class="fa fa-share share-button text-primary"></i>
                                                            <!-- Save the product icon -->
                                                            <!-- function saveProduct(userId, productId, role) { -->
                                                            <!-- <i class="fa-regular fa-bookmark text-primary"></i> -->
                                                            <i class="fa-regular fa-bookmark text-primary"
                                                              onclick="saveProduct('<%= userId %>', '<%= product._id %>', '<%= role %>')"
                                                              id="saveProduct<%= product._id %>"></i>

                                                          </span>
                                                          <!-- <button class="share-button">Share</button> -->
                                                          <!-- <i class="fa fa-share"></i> -->
                                                          <div class="share-popup">
                                                            <!-- add a close btn in right corder of popup -->

                                                            <button class="close-button">X</button>
                                                            <h3>Share Product
                                                            </h3>
                                                            <hr>
                                                            <p>Share this link via</p>

                                                            <!-- <a href="https://api.whatsapp.com/send?text=Check out this product: YOUR_PRODUCT_URL_HERE" target="_blank"><i class="fab fa-whatsapp"></i> Share on WhatsApp</a> -->
                                                            <a id="whatsapplink" class="ms-2 me-2"
                                                              href="https://api.whatsapp.com/send?text=Check out this product: https://localhost:5000/products%23<%= product._id %>"
                                                              target="_blank"><img
                                                                src="https://img.icons8.com/color/48/null/whatsapp--v1.png" /></a>
                                                            <a id="telegramlink" class="ms-2 me-2"
                                                              href="https://t.me/share/url?url=https%3A%2F%2Flocalhost%3A5000%2Fproducts%23<%= product._id %>&text=Check%20out%20this%20product%3A"
                                                              target="_blank">
                                                              <img
                                                                src="https://img.icons8.com/color/48/null/telegram-app--v2.png" /></a>


                                                            <a class="ms-2 me-2" href="https://www.instagram.com/"><img
                                                                src="https://img.icons8.com/color/48/null/instagram-new--v1.png" />
                                                            </a>



                                                            <!-- <br> -->
                                                            <a class="ms-2 me-2" href="https://twitter.com/"><img
                                                                src="https://img.icons8.com/color/48/null/twitter--v1.png" />
                                                            </a>


                                                            <a class="ms-2 me-2" href="https://www.linkedin.com/"><img
                                                                src="https://img.icons8.com/color/48/null/linkedin--v1.png" />
                                                            </a>

                                                            <a class="ms-2 me-2" href="https://www.facebook.com/"><img
                                                                src="https://img.icons8.com/color/48/null/facebook-circled--v1.png" />
                                                            </a>


                                                            <!-- Add more sharing options as needed -->
                                                          </div>
                                                          <h4 class="mb-1 me-1">
                                                            <%= product.price %> Rs.
                                                          </h4>
                                                          <!-- chat icon  -->
                                                          <!-- </div> -->
                                                          <!-- <div class="d-flex flex-column mt-4"> -->
                                                            <a href="/products?_id=<%=product._id%>"class="detailsLinkRepo" style="text-decoration: none;">
                                                          <button class="btn btn-primary mt-auto showDetail"
                                                            type="button" style="width: 100%;">Details</button>
                                                          </a>
                                                          <!-- </div> -->
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="card-footer" style="display: none;">
                                                      <h5 class="text-uppercase text-primary">Notes</h5>
                                                      <p>
                                                        <%= product.note %><span class="hideDetail"
                                                            style="float:right;"><i
                                                              class=" text-primary fa-sharp fa-solid fa-arrow-up"></i></span>
                                                      </p>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <% }%>


                                                <% }) %>
                                    </div>


                                  </div>
                                </section>

                                <!-- Fotter -->
                                <%- include('../Footer/Footer.ejs') %>
</body>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script>
</script>
<script>
  $(document).ready(function () {

    // dropdown for category and condition rating 


    fetch('/api/Categories')
      .then(res => res.json())
      .then(data => {
        console.log(data);
        let products = data.data.categories[0].product;

        let categories = products.category;
        let condition = products.condition;

        categories.forEach(element => {
          $("#category").append(`<option value="${element}">${element}</option>`);
        });
        condition.forEach(element => {
          $("#conditionRating").append(`<option value="${element}">${element}</option>`);
        });

      })
      .catch(err => console.log(err));


    //working search bar 

    $(document).on('keyup', "#searchProduct", function () {
      var value = $(this).val();
      // console.log(value);
      var patt = new RegExp(value, "i");
      // console.log(patt);
      $(".allProducts .row").each(function () {
        // console.log($(this).text());
        if (!patt.test($(this).find('#productName').text())) {
          $(this).hide();
        } else {
          $(this).show();
        }
      });
    });


    // two filters working 

    function filterproduct() {
      var category = $("#category").val();
      var conditionRating = $("#conditionRating").val();

      if (category != "" && conditionRating != "") {
        $(".allProducts .row").each(function () {
          if ($(this).find('#categoryName').text().toLowerCase().indexOf(category.toLowerCase()) != -1 && parseInt($(this).find('#conditionRatingVal').text().toLowerCase()) >= parseInt((conditionRating.toLowerCase()))) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });

      }
      else if (category != "" && conditionRating == "") {
        $(".allProducts .row").each(function () {
          if ($(this).find('#categoryName').text().toLowerCase().indexOf(category.toLowerCase()) != -1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }
      else if (category == "" && conditionRating != "") {
        $(".allProducts .row").each(function () {
          if ($(this).find('#conditionRatingVal').text().toLowerCase().indexOf(conditionRating.toLowerCase()) != -1) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }
      else {
        $(".allProducts .row").each(function () {
          $(this).show();
        });
      }
    }


    $(document).on('change', "#category", filterproduct);
    $(document).on('change', "#conditionRating", filterproduct);


  });

  const cards = document.querySelectorAll('.card');
  const shareButtons = document.querySelectorAll('.share-button');

  shareButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      // const card = cards[index];
      // console.log("jknjbnj",card);
      // const productName = card.querySelector('h5#productName').textContent;
      // const productCategory = card.querySelector('span#categoryName').textContent;
      // console.log(productName,productCategory);
      // const cardId=card

      // // <a href="https://api.whatsapp.com/send?text=Check out this product: YOUR_PRODUCT_URL_HERE" target="_blank"><i class="fab fa-whatsapp"></i> Share on WhatsApp</a>
      // const link = `https://example.com/share?title=${encodeURIComponent(productName)}&text=${encodeURIComponent(productCategory)}`;
      // const wplink=`whatsapp://send?text=`;
      // console.log(card.attributes['id'].value);
      // const dlink=window.location.href+`#`+card.attributes['id'].value;
      // console.log("ahbhjb",dlink);
      // card.querySelector('a#whatsapplink').setAttribute('href',`https://whatsapp://send?url=${encodeURIComponent(dlink)}`);
      // console.log("ahbhjb",card.querySelector('a#whatsapplink'));

      // $('#whatsapplink').attr('href',wplink);
      $('#overlay').css('display', 'block');
      $('.share-popup').fadeIn();
    });
  });

  // on click close btn hide popup
  $('.close-button').click(function () {
    $('#overlay').css('display', 'none');

    $('.share-popup').fadeOut(100);

  });

  // Hide popup when clicked outside of it
  $(document).mouseup(function (e) {

    var container = $('.share-popup');
    if (!container.is(e.target) && container.has(e.target).length === 0) {
      $('#overlay').css('display', 'none');

      container.fadeOut(100);
    }
  });


  function saveProduct(userId, productId, role) {
    if (!userId) {
      //       $("#savedAlert").html(`<div class="alert alert-warning alert-dismissible fade show" role="alert">
      // Plase Login to save product.
      //       <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
      //     </div>`);
      swal("Opps!", "Plase Login to save product!", "warning");
      return;
    }
    // saveProduct + productId
    // remove saved class from icon fa-solid, add fa-regular
    if ($('#saveProduct' + productId).hasClass("fa-solid")) {
      $("#saveProduct" + productId).removeClass("fa-solid");
      $("#saveProduct" + productId).addClass("fa-regular");
      $("#savedAlert").html(`<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Product removed Successfully.
      <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>`);


      $.ajax({
        url: '/api/removeSavedProduct',
        type: 'POST',
        data: {
          userId: userId,
          productId: productId,
          role: role
        },
        success: function (data) {
          console.log("data", data)

        },
        error: function (err) {
          console.log("err hey hey", err)
        }

      });

    } else {
      $("#saveProduct" + productId).removeClass("fa-regular");
      $("#saveProduct" + productId).addClass("fa-solid");
      $("#savedAlert").html(`<div class="alert alert-success alert-dismissible fade show" role="alert">
     Product Saved Successfully.
      <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>`);



      $.ajax({
        url: '/api/saveProduct',
        type: 'POST',
        data: {
          userId: userId,
          productId: productId,
          role: role
        },
        success: function (data) {
          console.log("data", data)

        },
        error: function (err) {
          console.log("err hey hey", err)
        }

      });

    }


  }

  const userResponse = fetch('/api/getUserById?userId=' + '<%= userId %>', { method: 'GET' });
  userResponse.then(response => response.json())
    .then(userData => {
      // console.log('Success:', userData.userDetails.savedProducts);
      userData.userDetails.savedProducts.forEach((product) => {
        $("#saveProduct" + product).removeClass("fa-regular");
        $("#saveProduct" + product).addClass("fa-solid");
      });
    });


  document.addEventListener("DOMContentLoaded", function (event) {
    const productSellers = document.querySelectorAll(".product-seller");
    productSellers.forEach(function (productSeller) {
      const sellerId = productSeller.nextElementSibling.id;
      getSellerName(sellerId, productSeller);
    });
  });

  function getSellerName(sellerId, productSeller) {
    const spanElement = productSeller.nextElementSibling;
    fetch('/api/getUserById?userId=' + sellerId, { method: 'GET' })
      .then(response => response.json())
      .then(sellerData => {
        // console.log('Success:', sellerData.userDetails.name);
        spanElement.textContent = sellerData.userDetails.name;
      });
  }

  // add active class in carousel

  const arrfor = [...document.querySelectorAll(".card-body")]
  console.log(arrfor.length)

  for(let i=1;i<=arrfor.length;i++){
    console.log(document.getElementById(`selectAct${i}`).firstElementChild)
    document.getElementById(`selectAct${i}`).firstElementChild.classList.add("active")
    document.getElementById(`cardimg${i}`).firstElementChild.classList.add("active")
  }
  

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('#carouselModal1, #carouselModal2, #carouselModal3').on('shown.bs.modal', function() {
      $('.carousel-zoom').carousel({
        interval: false
      });
    });

    $('#carouselModal1, #carouselModal2, #carouselModal3').on('hidden.bs.modal', function() {
      $('.carousel-zoom').carousel('dispose');
    });
  });
  </script>
<!-- my js -->

<script src='https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js'></script>
<script src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js'></script>
<script src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js'></script>
<script src='https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js'></script>

</html>