<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
            box-shadow: 0 0 15px -2px #444444;
            ;

        }

        .main-heading {
            color: #1c4980;
        }

        body {
            background-color: #f6f9ff !important;
        }
    </style>
</head>

<!-- Navbar  -->
<% if(login){ %>
    <% if(typeof role!="undefined" && role){ %>
        <% if(role=="student" ){ %>
            <%- include('../Navbar/StudentNavbar.ejs') %>
                <% }else if(role=="mentor" ){ %>
                    <%- include('../Navbar/MentorNavbar.ejs') %>
                        <% }else if(role=="admin" ){ %>
                            <%- include('../Navbar/AdminNavbar.ejs') %>
                                <% }else if(role=="company" ){ %>
                                    <%- include('../Navbar/CompanyNavbar.ejs') %>
                                        <% } %>
                                            <% } %>

                                                <% }else { %>
                                                    <%- include('../Navbar/InitNavbar.ejs') %>
                                                        <% } %>

                                                            <body>
                                                                <section class="h-100 bg-light">
                                                                    <div class="container py-5 h-100">
                                                                        <div
                                                                            class="row d-flex justify-content-center align-items-center h-100">
                                                                            <div class="col">
                                                                                <div
                                                                                    class="card card-registration my-4">
                                                                                    <div class="row g-0">

                                                                                        <div class="col-xl-12">
                                                                                            <% if(typeof message
                                                                                                !="undefined" &&
                                                                                                message){ %>
                                                                                                <div class="alert alert-success alert-dismissible fade show"
                                                                                                    role="alert">
                                                                                                    <%= message.message
                                                                                                        %>
                                                                                                        <button
                                                                                                            type="button"
                                                                                                            class="btn-close"
                                                                                                            data-bs-dismiss="alert"
                                                                                                            aria-label="Close"></button>
                                                                                                </div>
                                                                                                <% } %>
                                                                                                    <div
                                                                                                        class="card-body p-md-5 text-black">
                                                                                                        <h3
                                                                                                            class="mb-5 text-uppercase main-heading">
                                                                                                            Upload
                                                                                                            Industrial
                                                                                                            Project
                                                                                                            Details</h3>

                                                                                                        <form
                                                                                                            method="post"
                                                                                                            action="/uploadIndustrialProject"
                                                                                                            id="addIndustrialProjectform">
                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    id="projectTitle"
                                                                                                                    name="projectTitle"
                                                                                                                    class="form-control form-control-lg"
                                                                                                                    required />
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="projectTitle">Project
                                                                                                                    Title</label>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    id="companyName"
                                                                                                                    name="companyName"
                                                                                                                    class="form-control form-control-lg"
                                                                                                                    required />
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="companyName">Company
                                                                                                                    Name</label>
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    id="position"
                                                                                                                    name="position"
                                                                                                                    class="form-control  form-control-lg"
                                                                                                                    required />
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="position">Position</label>

                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <textarea
                                                                                                                    type="input"
                                                                                                                    class="form-control  form-control-lg"
                                                                                                                    id="briefDescription"
                                                                                                                    name="briefDescription"
                                                                                                                    rows="3"
                                                                                                                    required></textarea>
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="briefDescription">Brief
                                                                                                                    Description
                                                                                                                    About
                                                                                                                    Company</label>
                                                                                                            </div>


                                                                                                            <div
                                                                                                                class="row">
                                                                                                                <div
                                                                                                                    class="col-md-6 mb-4">

                                                                                                                    <select
                                                                                                                        class="form-select form-select-lg"
                                                                                                                        id="location"
                                                                                                                        name="location"
                                                                                                                        aria-label="Default select example"
                                                                                                                        required>
                                                                                                                        <option
                                                                                                                            value=""
                                                                                                                            selected>
                                                                                                                            Choose
                                                                                                                            location
                                                                                                                        </option>

                                                                                                                    </select>

                                                                                                                </div>
                                                                                                                <div
                                                                                                                    class="col-md-6 mb-4">
                                                                                                                    <select
                                                                                                                        class="form-select form-select-lg"
                                                                                                                        id="paidOrUnpaid"
                                                                                                                        name="paidOrUnpaid"
                                                                                                                        aria-label="Default select example"
                                                                                                                        required>
                                                                                                                        <option
                                                                                                                            value=""
                                                                                                                            selected>
                                                                                                                            Choose
                                                                                                                            Paid
                                                                                                                            or
                                                                                                                            Unpaid
                                                                                                                        </option>

                                                                                                                    </select>

                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4" id="stipenddiv">
                                                                                                                <input
                                                                                                                    type="number"
                                                                                                                    id="stipend"
                                                                                                                    name="stipend"
                                                                                                                    class="form-control form-control-lg"
                                                                                                                    required />
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="stipend">Stipend</label>
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    id="duration"
                                                                                                                    name="duration"
                                                                                                                    class="form-control form-control-lg"
                                                                                                                    required />
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="duration">Duration</label>
                                                                                                            </div>

                                         

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    id="skillsRequired"
                                                                                                                    name="skillsRequired"
                                                                                                                    class="form-control form-control-lg"
                                                                                                                    required />
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="skillsRequired">Skills
                                                                                                                    Required(Seperate
                                                                                                                    By
                                                                                                                    Comma(,)
                                                                                                                    )</label>
                                                                                                            </div>


                                                                                                            <div
                                                                                                                class="row">
                                                                                                                <div
                                                                                                                    class="col-md-6 mb-4">

                                                                                                                    <div
                                                                                                                        class="form-outline">
                                                                                                                        <input
                                                                                                                            type="number"
                                                                                                                            id="numberOfOpenings"
                                                                                                                            name="numberOfOpenings"
                                                                                                                            class="form-control form-control-lg"
                                                                                                                            required />
                                                                                                                        <label
                                                                                                                            class="form-label"
                                                                                                                            for="numberOfOpenings">No.
                                                                                                                            of
                                                                                                                            Openings</label>
                                                                                                                    </div>

                                                                                                                </div>
                                                                                                                <div
                                                                                                                    class="col-md-6 mb-4">

                                                                                                                    <div
                                                                                                                        class="form-outline">
                                                                                                                        <input
                                                                                                                            type="date"
                                                                                                                            id="lastDateToApply"
                                                                                                                            name="lastDateToApply"
                                                                                                                            class="form-control form-control-lg"
                                                                                                                            required />
                                                                                                                        <label
                                                                                                                            class="form-label"
                                                                                                                            for="lastDateToApply">Last
                                                                                                                            date
                                                                                                                            to
                                                                                                                            apply</label>
                                                                                                                    </div>

                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="number"
                                                                                                                    id="contactDetails"
                                                                                                                    name="contactDetails"
                                                                                                                    class="form-control form-control-lg"
                                                                                                                    required
                                                                                                                    pattern="[0-9]{10}" />
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="form3Example9">Mobile
                                                                                                                    no.</label>
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="row">
                                                                                                                <div
                                                                                                                    class="col-md-6 mb-4">

                                                                                                                    <select
                                                                                                                        class="form-select form-select-lg"
                                                                                                                        id="typeOfIndustrialProject"
                                                                                                                        name="typeOfIndustrialProject"
                                                                                                                        aria-label="Default select example"
                                                                                                                        required>
                                                                                                                        <option
                                                                                                                            value=""
                                                                                                                            selected>
                                                                                                                            Choose
                                                                                                                            type
                                                                                                                            Of
                                                                                                                            Industrial
                                                                                                                            Project
                                                                                                                        </option>

                                                                                                                    </select>

                                                                                                                </div>
                                                                                                                <div
                                                                                                                    class="col-md-6 mb-4">
                                                                                                                    <select
                                                                                                                        class="form-select form-select-lg"
                                                                                                                        id="modeOfIndustrialProject"
                                                                                                                        name="modeOfIndustrialProject"
                                                                                                                        aria-label="Default select example"
                                                                                                                        required>
                                                                                                                        <option
                                                                                                                            value=""
                                                                                                                            selected>
                                                                                                                            Choose
                                                                                                                            Mode
                                                                                                                            Of
                                                                                                                            Industrial
                                                                                                                            Project
                                                                                                                        </option>

                                                                                                                    </select>

                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="mb-4">
                                                                                                                <select
                                                                                                                    class="form-select form-select-lg"
                                                                                                                    id="category"
                                                                                                                    name="category"
                                                                                                                    aria-label="Default select example"
                                                                                                                    required>
                                                                                                                    <option
                                                                                                                        value=""
                                                                                                                        selected>
                                                                                                                        Choose
                                                                                                                        Category
                                                                                                                        Of
                                                                                                                        Industrial
                                                                                                                        Project
                                                                                                                    </option>

                                                                                                                </select>
                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <textarea
                                                                                                                    id="rolesAndResponsibilities"
                                                                                                                    name="rolesAndResponsibilities"
                                                                                                                    class="form-control  form-control-lg"
                                                                                                                    required ></textarea>
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="rolesAndResponsibilities">Roles
                                                                                                                    And
                                                                                                                    Responsibilities</label>

                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <input
                                                                                                                    type="text"
                                                                                                                    id="perks"
                                                                                                                    name="perks"
                                                                                                                    class="form-control  form-control-lg"
                                                                                                                    required />
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="perks">Perks</label>

                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <textarea
                                                                                                                    id="whoCanApply"
                                                                                                                    name="whoCanApply"
                                                                                                                    class="form-control  form-control-lg"
                                                                                                                    required ></textarea>
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="whoCanApply">Who
                                                                                                                    can
                                                                                                                    apply</label>

                                                                                                            </div>
                                                                                                            
                                                                                                                <input
                                                                                                                    type="hidden"
                                                                                                                    id="totalNumberOfApplicants"
                                                                                                                    name="totalNumberOfApplicants"
                                                                                                                    class="form-control  form-control-lg"
                                                                                                                    value="0"
                                                                                                                    required />
                                                                                                               

                                                                                                          
                                                                                                            <div
                                                                                                                class="form-outline mb-4">
                                                                                                                <textarea
                                                                                                                    id="criteriaForSelection"
                                                                                                                    name="criteriaForSelection"
                                                                                                                    class="form-control  form-control-lg"
                                                                                                                    required ></textarea>
                                                                                                                <label
                                                                                                                    class="form-label"
                                                                                                                    for="criteriaForSelection">Criteria
                                                                                                                    For
                                                                                                                    Selection</label>

                                                                                                            </div>

                                                                                                            <div
                                                                                                                class="d-flex justify-content-center pt-3">
                                                                                                                <input
                                                                                                                    id="submitIndustrialProjectForm"
                                                                                                                    type="submit"
                                                                                                                    class="btn btn-primary ms-2 btn-lg"
                                                                                                                    value="Submit">
                                                                                                            </div>
                                                                                                        </form>

                                                                                                    </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                                <!-- footer  -->
                                                                <%- include('../Footer/Footer.ejs') %>
                                                            </body>
                                                            <script type="text/javascript"
                                                                src="/js/IndustrialProject/uploadIndustrialProject.js"></script>

</html>