<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
            box-shadow: 0 0 15px -2px #444444;
        }

        .main-heading {
            color: #1c4980;
        }

        @media (min-width:1400px) {
            .container .row .form-padding {
                padding: 0 250px;
            }
        }

        .label-name {
            margin-bottom: 7px;
        }

        .radio-field {
            display: flex;
        }

        @media (max-width:775px) {
            .radio-field {
                flex-direction: column;
            }
        }
    </style>
</head>

<!-- Navbar  -->
<% if(login){ %>
    <% if(typeof role!="undefined" && role){ %>
        <% if(role=="student" ){ %>
            <%- include('../Navbar/StudentNavbar.ejs') %>
                <% }else if(role=="mentor" ){ %>
                    <%- include('../Navbar/MentorNavbar.ejs') %>
                        <% }else if(role=="admin" ){ %>
                            <%- include('../Navbar/AdminNavbar.ejs') %>
                                <% }else if(role=="company" ){ %>
                                    <%- include('../Navbar/CompanyNavbar.ejs') %>
                                        <% } %>
                                            <% } %>

                                                <% }else { %>
                                                    <%- include('../Navbar/InitNavbar.ejs') %>
                                                        <% } %>

                                                        <body>

                                                            <section class="h-100 bg-light">

                                                                <div class="container py-5 h-100">
                                                                    <div
                                                                        class="row d-flex justify-content-center align-items-center h-100">
                                                                        <div class="col form-padding">
                                                                            <div
                                                                                class="card card-registration my-4">
                                                                                <div class="row g-0">

                                                                                    <div class="col-xl-12">
                                                                                        <% if(typeof message
                                                                                            !="undefined" &&
                                                                                            message){ %>
                                                                                            <div class="alert alert-success alert-dismissible fade show"
                                                                                                role="alert">
                                                                                                <%= message.message
                                                                                                    %>
                                                                                                    <button
                                                                                                        type="button"
                                                                                                        class="btn-close"
                                                                                                        data-bs-dismiss="alert"
                                                                                                        aria-label="Close"></button>
                                                                                            </div>
                                                                                            <% } %>
                                                                                                <div
                                                                                                    class="card-body p-md-5 text-black">
                                                                                                    <h3
                                                                                                        class="mb-5 text-uppercase main-heading">
                                                                                                        Upload
                                                Industrial
                                                Project
                                                Details</h3>

                                                                                                    <form
                                                                                                        method="post"
                                                                                                        action="/uploadIndustrialProject"
                                                                                                        id="addIndustrialProjectform">

                                                                                                        <label
                                                                                                        for="Company Name"
                                                                                                        class="label-name">Project Title
                                                                                                        :</label>

                                                                                                        <div class="form-outline mb-4">
                                                                                                            <input type="text" id="projectTitle" name="projectTitle"
                                                                                                                class="form-control form-control-lg" placeholder="e.g. Skill Up" required />
                                                                                                            
                                                                                                        </div>

                                                                                                        <label
                                                                                                            for="Company Name"
                                                                                                            class="label-name">Company
                                                                                                            Name
                                                                                                            :</label>

                                                                                                        <div
                                                                                                            class="form-outline mb-4">
                                                                                                            <input
                                                                                                                type="text"
                                                                                                                id="companyName"
                                                                                                                name="companyName"
                                                                                                                class="form-control form-control-lg"
                                                                                                                placeholder="e.g. xyz pvt. Limited"
                                                                                                                required />
                                                                                                        </div>

                                                                                                        <label
                                                                                                            for="Position"
                                                                                                            class="label-name">Position
                                                                                                            :</label>
                                                                                                        <div
                                                                                                            class="form-outline mb-4">
                                                                                                            <input
                                                                                                                type="text"
                                                                                                                id="position"
                                                                                                                name="position"
                                                                                                                class="form-control  form-control-lg"
                                                                                                                placeholder="e.g. React Developer"
                                                                                                                required />

                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="form-outline mb-4">
                                                                                                            <textarea
                                                                                                                type="input"
                                                                                                                class="form-control  form-control-lg"
                                                                                                                id="briefDescription"
                                                                                                                name="briefDescription"
                                                                                                                rows="3"
                                                                                                                required></textarea>
                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                for="briefDescription">Brief
                                                                                                                Description
                                                                                                                About
                                                                                                                Company</label>
                                                                                                        </div>


                                                                                                        <div
                                                                                                            class="row">

                                                                                                            <div
                                                                                                                class="col-md-6 mb-4">
                                                                                                                <select
                                                                                                                    class="form-select form-select-lg"
                                                                                                                    id="state"
                                                                                                                    name="state"
                                                                                                                    aria-label="Default select example"
                                                                                                                    required>
                                                                                                                    <option
                                                                                                                        value=""
                                                                                                                        selected>
                                                                                                                        Choose
                                                                                                                        state
                                                                                                                    </option>
                                                                                                                </select>

                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="col-md-6 mb-4">

                                                                                                                <select
                                                                                                                    class="form-select form-select-lg"
                                                                                                                    id="city"
                                                                                                                    name="city"
                                                                                                                    aria-label="Default select example"
                                                                                                                    required>
                                                                                                                    <option
                                                                                                                        value=""
                                                                                                                        selected>
                                                                                                                        Choose
                                                                                                                        city
                                                                                                                    </option>
                                                                                                                </select>

                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="mb-3 radio-field">

                                                                                                            <label
                                                                                                                for="Stipend"
                                                                                                                class="label-name">Stipend
                                                                                                                :</label>
                                                                                                            <div
                                                                                                                id="paidOrUnpaid">

                                                                                                            </div>

                                                                                                        </div>
                                                                                                        <div
                                                                                                            id="stipenid">
                                                                                                            <label
                                                                                                                for="Stipend Amount"
                                                                                                                class="label-name Stipend-label">Stipend
                                                                                                                Amount
                                                                                                                :</label>
                                                                                                            <div class="form-outline mb-4 Stipend-label"
                                                                                                                id="stipenddiv">
                                                                                                                <input
                                                                                                                    type="number"
                                                                                                                    id="stipend"
                                                                                                                    name="stipend"
                                                                                                                    class="form-control form-control-lg"
                                                                                                                    placeholder="e.g. 10000" />
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <label
                                                                                                            for="Duration"
                                                                                                            class="label-name">Duration(Type
                                                                                                            no of
                                                                                                            month)
                                                                                                            :</label>
                                                                                                        <div
                                                                                                            class="form-outline mb-4">
                                                                                                            <input
                                                                                                                type="number"
                                                                                                                id="duration"
                                                                                                                name="duration"
                                                                                                                class="form-control form-control-lg"
                                                                                                                placeholder="e.g. 12"
                                                                                                                required />
                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="mb-4">
                                                                                                            <select
                                                                                                                class="form-select form-select-lg"
                                                                                                                id="morw"
                                                                                                                name="morw"
                                                                                                                aria-label="Default select example"
                                                                                                                required>
                                                                                                                <option
                                                                                                                    value=""
                                                                                                                    selected>
                                                                                                                    Choose
                                                                                                                    Months
                                                                                                                    or
                                                                                                                    Weeks
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="Month">
                                                                                                                    Months
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="Week">
                                                                                                                    Weeks
                                                                                                                </option>


                                                                                                            </select>
                                                                                                        </div>



                                                                                                        <label
                                                                                                            for="Skills"
                                                                                                            class="label-name">Skills
                                                                                                            Required(Seperate
                                                                                                            By
                                                                                                            Comma(,))
                                                                                                            :</label>
                                                                                                        <div
                                                                                                            class="form-outline mb-4">
                                                                                                            <input
                                                                                                                type="text"
                                                                                                                id="skillsRequired"
                                                                                                                name="skillsRequired"
                                                                                                                class="form-control form-control-lg"
                                                                                                                placeholder="e.g. HTML,C++,JAVA"
                                                                                                                required />
                                                                                                        </div>


                                                                                                        <div
                                                                                                            class="row">
                                                                                                            <div
                                                                                                                class="col-md-6 mb-4">

                                                                                                                <label
                                                                                                                    for="Openings"
                                                                                                                    class="label-name">No.of
                                                                                                                    Openings
                                                                                                                    :</label>
                                                                                                                <div
                                                                                                                    class="form-outline">
                                                                                                                    <input
                                                                                                                        type="number"
                                                                                                                        id="numberOfOpenings"
                                                                                                                        name="numberOfOpenings"
                                                                                                                        class="form-control form-control-lg"
                                                                                                                        placeholder="e.g. 10"
                                                                                                                        required />
                                                                                                                </div>

                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="col-md-6 mb-4">

                                                                                                                <label
                                                                                                                    for="Last_Date"
                                                                                                                    class="label-name">Last
                                                                                                                    date
                                                                                                                    to
                                                                                                                    apply
                                                                                                                    :</label>
                                                                                                                <div
                                                                                                                    class="form-outline">
                                                                                                                    <input
                                                                                                                        type="date"
                                                                                                                        id="lastDateToApply"
                                                                                                                        name="lastDateToApply"
                                                                                                                        class="form-control form-control-lg"
                                                                                                                        placeholder="Choose Date"
                                                                                                                        required />
                                                                                                                </div>

                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="type-of-intern mb-4 radio-field">


                                                                                                            <label
                                                                                                                for="type-intern"
                                                                                                                class="label-name">Choose
                                                                                                                type
                                                                                                                of
                                                                                                                Industrial
                                                                Project
                                                                                                                :</label>
                                                                                                            <div
                                                                                                                id="typeOfIndustrialProject">

                                                                                                            </div>




                                                                                                        </div>
                                                                                                        <div class="mode-intern mb-4 radio-field"
                                                                                                            style="display:flex">

                                                                                                            <label
                                                                                                                for="mode-intern"
                                                                                                                class="label-name">Choose
                                                                                                                Mode
                                                                                                                Of
                                                                                                                Industrial
                                                                Project
                                                                                                                :</label>
                                                                                                            <div
                                                                                                                id="modeOfIndustrialProject">

                                                                                                            </div>


                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="mb-4">
                                                                                                            <select
                                                                                                                class="form-select form-select-lg"
                                                                                                                id="category"
                                                                                                                name="category"
                                                                                                                aria-label="Default select example"
                                                                                                                onclick="isVerify()"
                                                                                                                required>
                                                                                                                <option
                                                                                                                    value=""
                                                                                                                    selected>
                                                                                                                    Choose
                                                                                                                    Category
                                                                                                                    Of
                                                                                                                    Industrial
                                                            Project
                                                                                                                </option>

                                                                                                            </select>
                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="form-outline mb-4">
                                                                                                            <textarea
                                                                                                                id="rolesAndResponsibilities"
                                                                                                                name="rolesAndResponsibilities"
                                                                                                                class="form-control  form-control-lg"
                                                                                                                required></textarea>
                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                for="rolesAndResponsibilities">Roles
                                                                                                                And
                                                                                                                Responsibilities</label>

                                                                                                        </div>
                                                                                                        <input
                                                                                                            type="hidden"
                                                                                                            id="perks"
                                                                                                            name="perks"
                                                                                                            class="form-control  form-control-lg"
                                                                                                            required />


                                                                                                        <div
                                                                                                            class=" mb-4">

                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                for="perks">Perks</label>
                                                                                                            <br>

                                                                                                            <input
                                                                                                                type="checkbox"
                                                                                                                class="form-check-input"
                                                                                                                name="certificate"
                                                                                                                id="certificate"
                                                                                                                onchange="updateperks(this)"
                                                                                                                value="certificate">
                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                class="form-check=label"
                                                                                                                for="certificate">Certificate</label>
                                                                                                            <input
                                                                                                                type="checkbox"
                                                                                                                class="form-check-input"
                                                                                                                name="letterOfRecommendation"
                                                                                                                id="letterOfRecommendation"
                                                                                                                onchange="updateperks(this)"
                                                                                                                value="letterOfRecommendation">
                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                class="form-check=label"
                                                                                                                for="letterOfRecommendation">Letter
                                                                                                                Of
                                                                                                                Recommendation</label>
                                                                                                            <input
                                                                                                                type="checkbox"
                                                                                                                class="form-check-input"
                                                                                                                name="jobOffer"
                                                                                                                id="jobOffer"
                                                                                                                onchange="updateperks(this)"
                                                                                                                value="jobOffer">
                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                class="form-check=label"
                                                                                                                for="jobOffer">Job
                                                                                                                Offer</label>
                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="mb-4">
                                                                                                            <select
                                                                                                                class="form-select form-select-lg"
                                                                                                                id="typeOfCompany"
                                                                                                                name="typeOfCompany"
                                                                                                                aria-label="Default select example"
                                                                                                                required>
                                                                                                                <option
                                                                                                                    value=""
                                                                                                                    selected>
                                                                                                                    Choose
                                                                                                                    typeOfCompany
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="Sole proprietorship">
                                                                                                                    Sole
                                                                                                                    proprietorship
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="Partnership">
                                                                                                                    Partnership
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="LLP">
                                                                                                                    LLP
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="PVT/LTD">
                                                                                                                    PVT/LTD
                                                                                                                </option>
                                                                                                                <option
                                                                                                                    value="Other">
                                                                                                                    Other
                                                                                                                </option>

                                                                                                            </select>
                                                                                                        </div>

                                                                                                        <div class="form-outline mb-4 "
                                                                                                            id="cindiv"
                                                                                                            style="display: none;">

                                                                                                            <input
                                                                                                                type="text"
                                                                                                                id="cin"
                                                                                                                name="cin"
                                                                                                                class="form-control  form-control-lg"
                                                                                                                required />
                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                for="cin">CIN
                                                                                                                number</label>
                                                                                                        </div>




                                                                                                        <div
                                                                                                            class="form-outline mb-4">
                                                                                                            <textarea
                                                                                                                id="whoCanApply"
                                                                                                                name="whoCanApply"
                                                                                                                class="form-control  form-control-lg"
                                                                                                                required></textarea>
                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                for="whoCanApply">Who
                                                                                                                can
                                                                                                                apply</label>

                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="col-md-6 mb-4">

                                                                                                            <label
                                                                                                                for="Openings"
                                                                                                                class="label-name">total
                                                                                                                Number
                                                                                                                Of
                                                                                                                Applicants
                                                                                                                :</label>
                                                                                                            <div
                                                                                                                class="form-outline">
                                                                                                                <input
                                                                                                                    type="number"
                                                                                                                    id="totalNumberOfApplicants"
                                                                                                                    name="totalNumberOfApplicants"
                                                                                                                    class="form-control form-control-lg"
                                                                                                                    placeholder="e.g. 10"
                                                                                                                    required />
                                                                                                            </div>

                                                                                                        </div>
                                                                                                        <div
                                                                                                            class="form-outline mb-4">
                                                                                                            <textarea
                                                                                                                id="criteriaForSelection"
                                                                                                                name="criteriaForSelection"
                                                                                                                class="form-control  form-control-lg"
                                                                                                                required></textarea>
                                                                                                            <label
                                                                                                                class="form-label"
                                                                                                                for="criteriaForSelection">Criteria
                                                                                                                For
                                                                                                                Selection</label>

                                                                                                        </div>

                                                                                                        <div
                                                                                                            class="d-flex justify-content-center pt-3">

                                                                                                            <button
                                                                                                                id="previewForm"
                                                                                                                type="button"
                                                                                                                class="btn ms-2 btn-lg"
                                                                                                                data-mdb-toggle="modal"
                                                                                                                data-mdb-target="#previewModal"
                                                                                                                style="background-color: #1c4980;color: white;">Submit</button>
                                                                                                        </div>


                                                                                                        <div class="modal fade"
                                                                                                            id="previewModal"
                                                                                                            tabindex="-1"
                                                                                                            aria-labelledby="exampleModalLabel"
                                                                                                            aria-hidden="true">
                                                                                                            <div
                                                                                                                class="modal-dialog modal-dialog-scrollable">
                                                                                                                <div
                                                                                                                    class="modal-content">
                                                                                                                    <div
                                                                                                                        class="modal-header">
                                                                                                                        <h5 class="modal-title"
                                                                                                                            id="exampleModalLabel">
                                                                                                                            Review
                                                                                                                            your
                                                                                                                            internship
                                                                                                                            details
                                                                                                                        </h5>
                                                                                                                        <button
                                                                                                                            type="button"
                                                                                                                            class="btn-close"
                                                                                                                            data-mdb-dismiss="modal"
                                                                                                                            aria-label="Close"></button>
                                                                                                                    </div>
                                                                                                                    <div
                                                                                                                        id="alertfill">
                                                                                                                    </div>
                                                                                                                    <div class="modal-body"
                                                                                                                        id="previewformdetail">

                                                                                                                    </div>
                                                                                                                    <div
                                                                                                                        class="modal-footer">
                                                                                                                        <input
                                                                                                                            id="submitInternshipForm"
                                                                                                                            type="submit"
                                                                                                                            class="btn btn-primary ms-2"
                                                                                                                            value="Submit">
                                                                                                                        <button
                                                                                                                            type="button"
                                                                                                                            class="btn btn-secondary"
                                                                                                                            data-mdb-dismiss="modal">Close</button>

                                                                                                                    </div>

                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </form>

                                                                                                </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </section>

                                                            <!-- footer  -->
                                                            <%- include('../Footer/Footer.ejs') %>
                                                        </body>
                                                            <script
                                                                src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


                                                            <!-- jquery cdn  -->
                                                            <script
                                                                src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                                                            <!-- <script
                                                                src="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@1.1.2/dist/js/bootstrap-multiselect.min.js"></script> -->
                                                            <script type="text/javascript"
                                                                src="/js/IndustrialProject/uploadIndustrialProject.js"></script>
                                                           
</html>